/* 注入 CSS 文件修改 CSS 变量使用示例 */

:root {
  /* 修改全局默认字体大小 */
  --base-font-size: 15x;
  --header-title-font-family: lxgw wenkai screen;

  /* 修改全局默认字体样式 */
  --base-font-family: lxgw wenkai screen;
  /*定制模块卡片的边框圆角*/
  --box-border-radius: 20px;


}
